input {
    caret-color: red;                    /*hna anta bt2olo lma tdos 3la el morb bta3 password aw ay 7aga egblk el shret el so8er 27mr el nas be3mloha 3shan shkl el sf7a mebozs mmkn t3mlha trnsbert b7s el nas ttgnn we mtshofsh 25r 7aga ktboha fen */
  }







  a {
     pointer-events: none;                                     /*el 5saya de bt5lek lma tge tdos 3la el link mesht8lsh we be3mloha fe 7gaat tb3 el java gmela msh htfhma lnk mt3lmtsh java  */
    width: 55px;
    height: 55px;
    background-color: red;
    opacity: 2;
  }




