/* b2tdr mno t7rk el 3onsr zy al margin we el postion 
we hwa 27sn mn el postoi...*/


div {
   margin: 200px auto; 

    width: 200px;
    height: 200px;
    background-color: rgb(255 0 0 / 39%);
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
    font-weight: bold;
    font-size: 30px;
    transform: translate(-50px, -50px);            /*kda bt2olo 5le el div  fe el nos */

    /* transform: translateX(-50%); */
    /* transform: translateY(-50%); */
  }

  
  